@mixin al-btn-phone {
    @media (max-width: $screen-phone) {
        width: 100%;
    }
}

.al-btn-phone {
    @include al-btn-phone;
}

@mixin al-btn-phone-bottom-fixed {
    @media (max-width: $screen-phone) {
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 0;
    }
}

.al-btn-phone-bottom-fixed {
    @include al-btn-phone-bottom-fixed;
}

.al-btn-lg-pc {
    width: $al-btn-lg-width;

    @include al-btn-phone;
}

button.close, button.close:focus {
    opacity: 1;
}

$menu-button-width: 35px;

.btn-default {
    color: $text-color;

    &:hover, &:focus {
        color: $text-color;
    }
}

