.modal {
    display: block; 
}

.alert-error {
    background: none !important;
    border: none !important;
    padding: 15px 0 0 0 !important;
}

.al-error {
    background-color: $al-red;
}

@media screen and (max-width: $screen-tablet) {
    td, th {
        display: block;
        width: 100%;
    }
}

.float-none {
    float: none !important;
}

@mixin al-align-center {
    float: none;
    margin: auto;
}

.al-align-center {
    @include al-align-center;
}

@media (min-width: $grid-float-breakpoint) {
    .navbar-right {
        margin-right: 0;
    }
}

.al-backgroud-gray-light {
    background-color: $gray-light;
}

.al-backgroud-blue {
    background-color: $al-blue;
}

@mixin al-inline-block {
    display: inline-block;
    float: left;
    vertical-align: top;
}

@mixin al-inline-block-min-tablet {
    @media (min-width: $screen-tablet) {
        @include al-inline-block;
    }
}

.al-inline-block-min-tablet {
    @include al-inline-block-min-tablet;
}

@mixin al-block-max-tablet {
    @media (max-width: $screen-tablet) {
        display: block;
    }
}

@mixin al-inline-block-min-phone {
    @media (min-width: $screen-phone) {
        @include al-inline-block;
    }
}

@mixin al-block-max-phone {
    @media (max-width: $screen-phone) {
        display: block;
    }
}

.al-inline-block {
    @include al-inline-block;
}

@mixin al-display-table {
    display: table;
}

.al-display-table {
    @include al-display-table;
}

@mixin al-exspanded-table {
    @include al-display-table;
    width: 100%;
}

.al-exspanded-table {
    @include al-exspanded-table;
}

@mixin al-expanded-full-max-phone {
    @media (max-width: $screen-phone) {
        display: table;
        width: 100%;
    }
}

small {
    color: $gray-darkest;
}



:focus, :active {
    outline: none;
}

.navbar {
    .glyphicon-align-justify {
        font-size: 37px;
        color: $al-white !important;
    }

    .chat-name {
        width: calc(100% - $menu-button-width);
    }
}

@media (max-width: $screen-xs-max) {
    td, th {
        display: table-cell;
    }
}

.hide {
    display: none;
}

.hide-force {
    display: none !important;
}

@mixin max-xs-hide-force {
    @media (max-width: $screen-xs-max) {
        display: none !important;
    }
}

.max-xs-hide-force {
    @include max-xs-hide-force;
}

@media (min-width: $screen-tablet) {
    .min-sm-hide-force {
        display: none !important;
    }
}

@media (max-width: $screen-tablet) {
    .navbar-nav {
        margin: 0;
    }
}

a, .al-pointer {
    cursor: pointer;
}

.uib-button-bar {
    padding: 10px 9px 2px;
}

.al-image-block {
    height: $al-icon-height;
    width: $al-icon-width;

    @include al-expanded-full-max-phone; 
    @include al-inline-block-min-tablet;
    @include al-block-max-tablet;

    .al-image {
        height: $al-icon-height;
        width: $al-icon-width;
        background-position: top;
        background-size: cover;

        @include al-expanded-full-max-phone; 
    }
}

@mixin al-block-naked {
    @include al-exspanded-table;

    padding-top: $result-block-padding;
    padding-bottom: $result-block-padding
}

@mixin al-block {
    @include al-block-naked;

    padding-right: $result-block-padding;
    padding-left: $result-block-padding;
}

@mixin al-white-block-naked {
    @include al-block-naked;

    border-radius: $border-radius-base;
    background-color: $al-white;
}

@mixin al-white-block-naked-body {
    @include al-white-block-naked;
    @include al-align-center;
    max-width: $al-body-max-width;
    text-align: left;
}

@mixin al-white-block {
    @include al-white-block-naked;

    padding-right: $result-block-padding;
    padding-left: $result-block-padding;
}

@mixin al-background-block {
    background-color: $al-gray-medium;
    padding-top: $md-margin;
    padding-bottom: $md-margin;
}
@mixin al-background-block-body {
    @include al-background-block;
    text-align: center;
}


.al-white-block {
    @include al-white-block;
}

.al-href-warning  {
    color: $al-orange;

    &:hover, &:focus {
        color: $al-orange;
    }
}

.al-href-default  {
    color: $al-blue;

    &:hover, &:focus {
        color: $al-blue;
    }
}

ul {
    -webkit-padding-start: 0;
}

@mixin page-content-min-height {
    min-height: calc(100vh - #{$al-footer-min-height} - #{$al-header-min-height} - #{$al-default-padding} - #{$al-default-padding});
}