.uib-datepicker-popup.dropdown-menu {
    width: 100%;
    display: table;
    float: none;
    margin: 0;

    .btn:active, .btn.active {
        box-shadow: none;
    }

    .btn-default.uib-right, .btn-default.uib-left {
        &:hover,
            &:focus,
            &.focus {
            color: $al-blue;
            background-color: $al-white;
            border-color: $al-white;
        }

        &:active:hover,
            &.active  {
            color: $al-blue;
            background-color: $al-white;
            border-color: $al-white;
        }
    }

    .btn, .btn-info, .btn-default.btn-info {
        color: $text-color;
        background-color: $al-blue;
        border-color: $al-blue;

        &:hover,
            &:focus,
            &.focus {
            color: $text-color;
            background-color: $al-blue;
            border-color: $al-blue;
        }

        &:active:hover,
            &.active  {
            color: $al-white;
            background-color: $al-blue;
            border-color: $al-blue;
        }
    }

    .btn-default.btn-info {
        .text-info {
            color: $al-white;
        }
    }

    .btn-default {
        background-color: $al-white;
        border-color: $al-white;

        &:active:hover, 
            &.active,
            &:hover,
            &:focus,
            &.focus {

            background-color: $al-white;
            border-color: $al-white;
        }
    }

}

