.dropdown-menu {
    width: 100%;

    > li {
        > a, > .dropdown-menu__block {
            height: 45px;
            padding: 13px $al-input-left-margin;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.al-checkbox, &.al-checkbox:hover, &.al-checkbox:focus {
                background-color: $al-white;
                color: $brand-primary;
            }
        }

        &:nth-child(2n) > a {
            background-color: $al-gray-light; 

            &:hover, &:focus {
                background-color: $dropdown-link-hover-bg;
            }

            &.al-checkbox, &.al-checkbox:hover, &.al-checkbox:focus {
                background-color: $al-gray-light;
                color: $brand-primary;
            }
        }
    } 
}

