@function encodecolor($string) {
    @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
    @return $string;
}

$al-blue-encoded: encodecolor($al-blue);

@mixin al-small-icon {
    width: $al-small-icon-width;
    height: $al-small-icon-width;
    content: '';
}

.al-small-icon {
    @include al-small-icon;
}

@mixin al-small-icon-before {
    @include al-small-icon;
    content: '';
    position: absolute;
}

@mixin al-checkbox {
    text-indent: 29px;

    &:before {
        @include al-small-icon-before;
        position: absolute;
        background: url('/assets/images/common/images/ic_check_box_outline.svg') no-repeat;
        margin-left: -33px;
        margin-top: -3px;
    }

    &.active:before {
        background: url('/assets/images/common/images/ic_check_box.svg');
    }
}

.al-checkbox {
    @include al-checkbox;
}

@mixin al-radio-button {
    text-indent: 29px;
    cursor: pointer;

    &:before {
        @include al-small-icon-before;
        position: absolute;
        background: url(/assets/images/common/images/ic_radio_button_unchecked.php?fill=#{$al-blue-encoded}) no-repeat;
        margin-left: -33px;
        margin-top: -3px;
    }

    &.active:before {
        background: url(/assets/images/common/images/ic_radio_button_checked.php?fill=#{$al-blue-encoded});
    }
}

.al-radio-button {
    @include al-radio-button;
}

@mixin al-close-icon {
    background: url('/assets/images/common/images/ic_close.svg');
}

@mixin al-close {
    @include al-small-icon;
    @include al-close-icon;
    background-size: 24px 24px;
    position: absolute;
    z-index: 1001;
    right: 0;
    margin: 5px;
    
    &.close {
        opacity: 1;
    }
}

@mixin al-close-white {
    @include al-close;
    background: url('/assets/images/common/images/ic_close_white.svg');
}

.al-close {
    @include al-close;
}

.al-map-href {
    padding-left: 18px;

    &:before {
        @include al-small-icon-before;
        background: url('/assets/images/common/images/ic_map.svg') no-repeat;
        margin-left: -24px;
        margin-top: -3px;
    }
}

.al-blue-color path {
    fill: $al-blue;
}

[disabled]:before {
    .al-blue-color path {
        fill: $al-gray-medium;
    }
}

.al-icon-minus {
    &:before {
        @include al-small-icon-before;
        background: url(/assets/images/common/images/ic_minus.php?fill=#{$al-blue-encoded});
    }
    
    &[disabled]:before {
        background-color: $al-gray-medium;
        $al-gray-medium-encoded: encodecolor($al-gray-medium);
        background: url(/assets/images/common/images/ic_minus.php?fill=#{$al-gray-medium-encoded});
    }
}

.al-icon-plus {
    
    &:before {
        @include al-small-icon-before;
        background: url(/assets/images/common/images/ic_plus.php?fill=#{$al-blue-encoded});
    }
    
    &[disabled]:before {
        background-color: $al-gray-medium;
        $al-gray-medium-encoded: encodecolor($al-gray-medium);
        background: url(/assets/images/common/images/ic_plus.php?fill=#{$al-gray-medium-encoded});
    }
}
