.modal {
    display: block; 

    &:before {
        @include al-close-white;
        content: '';
        z-index: $zindex-modal;
        top: 0;
        right: 0;
        margin: 15px;
    }

    &.al-modal-full-expanded:before {
        display: none;
    }
    
    .modal-content.al-modal-full-expanded {
        @media screen and (max-width: $screen-phone) {
            margin: 0;
            width: 100%;
        }
    }

    .dropdown-menu {
        position: relative;
    }

    .close {
        color: $brand-primary;
    }
}

.modal-dialog {
    display: table;

    @media screen and (max-width: $screen-phone) {
        margin: 0;
        width: 100%;
    }
}

yandex-map {
    display: block;
    width: 100%;
    height: 500px;

    @media screen and (max-width: $screen-phone) {
        height: 100vh;
    }
}