$image-modal-slide-block-width: 100%;
$image-modal-slide-block-height: 500px;
$desktop-image-modal-slide-block-height: 90vh;
$sm-image-modal-slide-block-height: 230px;
$desktop-image-modal-margin: 22px;

.image-modal__block {
    @include al-align-center;
    @include al-exspanded-table;
    width: 100%;

    .sanatoriums-detail__slide-block {
        width: $image-modal-slide-block-width;
        height: $image-modal-slide-block-height;

        @media (max-width: $screen-desktop) {
            height: $desktop-image-modal-slide-block-height;
            width: 100%;
        }

        @media (max-width: $screen-phone) {
            height: $sm-image-modal-slide-block-height;
        }

        .sanatoriums-detail__slide-img {
            width: $carousel-block-width;
            height: $image-modal-slide-block-height;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: $screen-desktop) {
                height: $desktop-image-modal-slide-block-height;
                width: 100%;
            }

            @media (max-width: $screen-phone) {
                height: $sm-image-modal-slide-block-height;
            }
        }
    }
}

