<div class="modal-content">
    <div class="modal-header">
        <a class="close al-close" ng-click="cancel();"></a>
        <h4 class="modal-title">{{currentSanatorium.name}}</h4>
    </div>
    <yandex-map ng-if="currentSanatorium.lat" zoom="15" center="[currentSanatorium.lat,currentSanatorium.lon]">
        <ymap-marker ng-repeat="marker in markers" index="$index+1" coordinates="marker.coordinates" properties="marker.properties" options="marker.options"></ymap-marker>
    </yandex-map>
</div>