<div class="sanatoriums-detail__gallery-button" ng-if="!imagesByType[imageType].showMore" ng-click="showMore = true">
    <a class="al-href-warning" ng-click="imagesByType[imageType].showMore = true">Показать еще</a>
</div>
<div class="al-image-block" ng-repeat="image in images" ng-if="imagesByType[imageType].showMore && image.image_type == imageType && image.counted_order_number > defaultShowItemsCount">
    <a>
        <img class="al-image" ng-click="showImageModal($index)" style="background-image: url('{{imageService.getSmallImageUrl(image.thumbnail_name_s)}}')"/>
    </a>
</div>
<div class="sanatoriums-detail__gallery-button" ng-if="imagesByType[imageType].showMore">
    <a class="al-href-warning" ng-click="imagesByType[imageType].showMore = false">Свернуть</a>
</div>

