$carousel-block-width: 830px;
$slide-block-width: 690px;
$slide-block-height: 460px;
$sm-slide-block-height: 230px;
$tablet-margin: 5px;
$sanatoriums-detail-padding-top: 30px;

.sanatoriums-detail__carousel-block {
    text-align: center;
    background-color: $al-gray-medium;
    padding-top: $al-default-padding;
    padding-bottom: $al-default-padding;

    .sanatoriums-detail__title-block {
        @include al-white-block;
        text-align: left;
        margin-bottom: $md-margin;
        padding-top: 0;

        .sanatoriums-detail__name-block {
            @include al-inline-block-min-phone;
            @include al-block-max-phone;

            h1 {
                font-size: 24px;
            }
        }

        .sanatoriums-detail__booking-block {
            @include al-inline-block-min-phone;
            @include al-block-max-phone;
            padding-top: 20px;

            @media (min-width: $screen-phone) {
                float: right;
            }

            @media (max-width: $screen-phone) {
                float: none;
            }

            .btn {
                @include    al-expanded-full-max-phone
            }
        }
    }

    .sanatoriums-detail__carousel-container {
        @include al-align-center;
        @include al-exspanded-table;
        width: $carousel-block-width;
        height: $slide-block-height;

        @media (max-width: $screen-tablet) {
            width: 100%;
        }

        @media (max-width: $screen-phone) {
            height: $sm-slide-block-height;
        }

        .sanatoriums-detail__slide-block {
            width: $slide-block-width;
            height: $slide-block-height;

            @media (max-width: $screen-tablet) {
                width: 100%;
            }

            @media (max-width: $screen-phone) {
                height: $sm-slide-block-height;
            }

            .sanatoriums-detail__slide-img {
                width: $carousel-block-width;
                height: $slide-block-height;
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;

                @media (max-width: $screen-tablet) {
                    width: 100%;
                }

                @media (max-width: $screen-phone) {
                    height: $sm-slide-block-height;
                }
            }
        }

        .sanatoriums-detail__gallery {
            @include al-white-block-naked;
            text-align: left;
            margin-top: $md-margin;
            padding-top: 0;

            h3 {
                padding-right: $result-block-padding;
                padding-left: $result-block-padding;
            }

            .al-image-block {
                width: 270px;
                margin-top: $md-margin;
                margin-left: 4px;
                margin-right: 2px;

                @media (max-width: $screen-tablet) {
                    height: $al-icon-height-phone;
                    width: 50%;
                    display: inline-block;
                    margin-right: 0;
                    margin-left: 0;
                    padding-left: $md-margin-small;
                    padding-right: $md-margin-small;
                    margin-top: $md-margin;
                }

                @media (max-width: $screen-phone) {
                    height: $al-icon-height-phone;
                    width: 100%;
                    padding-right: 0;
                    padding-left: 0;
                }

                &.al-end {
                    margin-right: 0;
                }

                .al-image {
                    width: 100%;

                    background-image: url('http://alenat.ru/image/%7B4c7a782b-74fa-41bf-8512-d8f877e8aa8d%7D.jpg');

                    @media (max-width: $screen-phone) {
                        height: $al-icon-height-phone;
                    }

                    @media (max-width: $screen-tablet) {
                        height: $al-icon-height-phone;
                    }
                }
            }

            .sanatoriums-detail__gallery-button {
                text-align: center;
                padding-left: $result-block-padding;
                padding-right: $result-block-padding; 

                .al-href-warning {
                    margin-top: $result-block-padding;
                    display: inline-block;
                    width: 100%;
                }
            }
        }

        .sanatoriums-detail__options {
            @include al-white-block;
            margin-top: $md-margin;
            padding-top: 0;

            text-align: left;

            $sanatoriums-detail-options-dt-width: 300px;

            dl {
                @media (min-width: $screen-tablet) {
                    padding-top: 20px;
                }

                dt {
                    @include al-inline-block-min-tablet;
                    @include al-expanded-full-max-phone;

                    @media (min-width: $screen-tablet) {
                        width: $sanatoriums-detail-options-dt-width;
                    }

                    &:before {
                        @include al-small-icon-before;
                        margin-top: -3px;
                    }

                    &.kids:before {
                        background-image: url('/assets/images/common/images/ic_kids.svg');
                    }

                    &.arrival:before {
                        background-image: url('/assets/images/common/images/ic_alarm.svg');
                    }

                    &.suitable:before {
                        background-image: url('/assets/images/common/images/ic_suitable.svg');
                    }

                    &.foodoption:before {
                        background-image: url('/assets/images/common/images/ic_foodoption.svg');
                    }

                    &.roomsinfostructure:before {
                        background-image: url('/assets/images/common/images/ic_room.svg');
                    }

                    &.treatment:before {
                        background-image: url('/assets/images/common/images/ic_treatment_small.svg');
                    }

                    &.healthprogram:before {
                        background-image: url('/assets/images/common/images/ic_medical_program.svg');
                    }

                    &.beauty:before {
                        background-image: url('/assets/images/common/images/ic_spa.svg');
                    }

                    &.entertainment:before {
                        background-image: url('/assets/images/common/images/ic_beach.svg');
                    }

                    &.rent:before {
                        background-image: url('/assets/images/common/images/ic_bicycle.svg');
                    }

                    &.internet:before {
                        background-image: url('/assets/images/common/images/ic_wifi.svg');
                    }

                    &.sport:before {
                        background-image: url('/assets/images/common/images/ic_gym.svg');
                    }

                    &.territory:before {
                        background-image: url('/assets/images/common/images/ic_territory.svg');
                    }

                    span {
                        padding-left: 40px;
                        color: $al-orange;
                        display: block;
                        margin-right: $md-margin;
                    }
                }

                dd {
                    @include al-inline-block-min-tablet;
                    @include al-expanded-full-max-phone;

                    @media (min-width: $screen-tablet) {
                        width: calc(100% - #{$sanatoriums-detail-options-dt-width} - 5px);
                    }

                    @media (max-width: $screen-phone) {
                        padding-left: 40px;
                        padding-top: 5px;
                    }

                    div {
                        margin-bottom: $md-margin;

                        span {
                            width: calc(100% - #{$al-small-icon-width} - #{$md-margin});
                            display: inline-block;
                            vertical-align: bottom;
                        }

                        .al-small-icon {
                            margin-right: $al-default-padding;
                            vertical-align: top;
                        }
                    }
                }
            }
        }

        .sanatoriums-detail__description {
            @include al-white-block;
            margin-top: $md-margin;

            text-align: left;

            h4, h3 {
                color: $al-orange;
            }
        }
    }


}


