.sanatoriums__search-block {
    @include al-exspanded-table;
    background-color: $al-blue;
    min-height: 400px;
    text-align: center;
    padding: $al-default-padding;

    .sanatoriums__search-form {
        @include al-align-center;
        max-width: $al-body-max-width;

        h1, h3 {
            color: $al-white;
        }
    }
}

.sanatoriums__list-body {
    @include al-exspanded-table;
    background-color: $al-gray-medium;
    text-align: center;
    padding: $al-default-padding;
    padding-top: $result-block-padding;

    .sanatoriums__description-block {
        @include al-align-center;
        max-width: $al-body-max-width;
        
        .sanatoriums__description-icons-block {
            padding-top: $result-block-padding;
            padding-bottom: $result-block-padding;
            
            .sanatoriums__description-icons {
                padding: $al-default-padding;
                
                img {
                    width: 100px;
                    margin-bottom: $result-block-padding;
                }
                
                p {
                    text-align: left;
                }
            }
        }
    }
}


