.sanatoriums__results-block {
    .sanatoriums__results-more-button {
        padding-bottom: $result-block-padding;

        button {
            max-width: $al-body-max-width;
            width: 100%;
            height: 55px;
        }
    }

    @mixin sanatoriums__result {
        @include al-white-block;
        @include al-expanded-full-max-phone; 
        @include al-align-center;

        max-width: $al-body-max-width;
    }

    .sanatoriums__result-empty {
        @include sanatoriums__result;
    }

    .sanatoriums__result {
        @include sanatoriums__result;
        min-height: 190px;

        $al-booking-button-width: 250px;

        margin-bottom: $result-block-padding;

        .al-image-block {
            .al-image {
                background-image: url('http://alenat.ru/image/%7B4c7a782b-74fa-41bf-8512-d8f877e8aa8d%7D.jpg');
            }
        }

        .sanatoriums__result-description-block {
            width: calc(100% - #{$al-icon-width} - #{$al-booking-button-width});
            text-align: left;
            @include al-expanded-full-max-phone; 
            @include al-inline-block-min-tablet;
            @include al-block-max-tablet;

            @media (min-width: $screen-tablet) {
                padding-left: $result-block-padding;
                padding-right: $result-block-padding;
            }

            h4 {
                color: $al-blue;
            }

            .sanatoriums__result-description-block-main {
                @media (max-width: $screen-phone) {
                    padding-top: $result-block-padding;
                    padding-bottom: $result-block-padding;
                }
            }
        }

        $result-button-block-margin: 25px;

        .sanatoriums__result-button-block {
            width: $al-booking-button-width;

            @include al-expanded-full-max-phone;
            @include al-inline-block-min-tablet;
            @include al-block-max-tablet;

            button {
                @include al-expanded-full-max-phone;
            } 

            .al-href-default {
                margin-top: $result-button-block-margin;
                display: block;
            }

            h3 {
                margin-top: $result-button-block-margin;
            }
        }
    }
}

.sanatoriums__result_icons {
    padding-bottom: $al-default-padding;

    img {
        width: $al-small-icon-width;
        margin-right: $md-margin-small;
        margin-bottom: $md-margin;
    }
}