.sanatoriums__search-inputs-block {
    margin-top: 40px;

    .col-sm-6, .col-sm-12 {
        padding-bottom: 2px;
    }

    input {
        height: 55px;
        width: 100%;
        font-size: 15px;
        padding: 9px $al-input-left-margin 9px $al-input-left-margin;
        border-width: 0px;
        margin-top: 2px;
        color: $text-color;
    }

    label {
        font-size: $font-size-small;
        color: $al-white;
        float: left;
        padding-left: $al-input-left-margin;
        margin-top: 5px;
        font-weight: normal;
        visibility: hidden;
        line-height: 11px;

        &.active {
            visibility: visible;
        }
    }

    .dropdown-menu {
        li {
            a {
                img {
                    width: $al-small-icon-width;
                    margin-right: $md-margin;
                    margin-top: -$md-margin-small;
                }
            }
        }
    }

    a.sanatoriums__advanced-search {
        color: $al-white;
        float: left;
        margin-top: 15px;
        margin-left: $al-input-left-margin;
    }

    .sanatoriums__search-left {
        @media (max-width: $screen-tablet) {
            border-radius: $border-radius-base;
        }

        border-radius: $border-radius-base 0 0 $border-radius-base;
    }

    .sanatoriums__search-center {
        @media (max-width: $screen-tablet) {
            border-radius: $border-radius-base;
        }

        border-radius: 0;
    }

    .sanatoriums__search-right {
        @media (max-width: $screen-tablet) {
            border-radius: $border-radius-base;
        }

        border-radius: 0 $border-radius-base $border-radius-base 0;
    }

    .sanatoriums__search-button-block {
        margin-top: 25px;

        button {
            width: 300px;
            height: 65px;
            font-size: 25px;

            @media (max-width: $screen-tablet) {
                width: 100%;
            }
        }
    }

    $dropdown-menu-guests-width: 15px;

    .dropdown__guests {
        $dropdown-guests-shift: 25px;

        @media (min-width: $screen-desktop) {
            width: calc(100% + #{$dropdown-guests-shift});
            margin-left: -$dropdown-guests-shift;
        }

        .dropdown-menu__guests {
            padding-top: $dropdown-menu-guests-width;
            padding-bottom: $dropdown-menu-guests-width;

            .dropdown-menu__block {
                height: 50px;

                b {
                    display: block;
                }

                small {
                    display: block;
                }

                .dropdown-menu__guests-actions {
                    @include al-inline-block;
                    float: right;
                    text-align: right;
                    padding-top: 5px;
                    padding-right: $dropdown-menu-guests-width;

                    .al-icon-minus {
                        margin-right: 32px;
                    }

                    span {
                        font-weight: bold;
                        display: inline-block;
                        margin-top: 3px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}