$brand-primary: #333333;
$gray-light: #f2f2f2 !default;
$border-radius-base: 4px !default;
$brand-success: #47b716 !default;
$gray-darker: #9d9d9d !default;
$gray-darkest: #868686 !default;
$al-red: #e75e5f;
$al-blue: #5c4281 !default;
$al-white: white !default;
$al-orange: #ffa353 !default;
$al-gray-light: #f2f2f2;
$al-gray-medium: #e9e9e9;
$text-color: #525252;
$input-color: $text-color;
$state-info-text: $al-blue;

$al-input-left-margin: 18px;
$al-default-padding: 10px;
$al-icon-width: 240px;
$al-icon-height: 150px;
$al-icon-height-phone: 200px;
$al-small-icon-width: 24px;
$result-block-padding: 20px;
$md-margin: 10px;
$md-margin-small: 5px;

$modal-md: 800px;
$al-body-max-width: 980px;
$al-btn-lg-width: 200px;
$al-z-index-medium: 100;
$al-footer-min-height: 236px;
$al-header-min-height: 67px;


$navbar-border-radius: 0 !default;
$navbar-default-color: $al-blue !default;
$navbar-default-bg: $al-blue !default;
$navbar-default-border: $al-blue !default;
$navbar-margin-bottom: 0 !default;
$nav-pills-active-link-hover-bg: #e2e2e2 !default;
$nav-pills-active-link-hover-color: $al-blue;
$navbar-height: 30px !default;
$navbar-padding-vertical: $al-default-padding;
$navbar-padding-horizontal: 0;
$navbar-default-brand-color: white !default;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%) !default;
$navbar-default-link-color: $navbar-default-brand-color;
$navbar-default-link-hover-color: $navbar-default-brand-hover-color;

$btn-default-color: $al-white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$btn-primary-color: $gray-darkest;
$btn-warning-color: $al-white;
$btn-warning-bg: $al-orange;
$btn-warning-border: $al-orange;
$al-btn-lg-height: 45px;

$btn-info-color: $al-white;
$btn-info-bg: $al-blue;
$btn-info-border: darken($btn-info-bg, 5%) !default;

$bootstrap-sass-asset-helper: false;
$icon-font-path: "/assets/fonts/" !default;

$grid-gutter-width: 2px !default;

$font-size-base: 14px !default;
$font-size-small: ceil(($font-size-base * 0.90)) !default;

$link-hover-decoration: none !default;

$dropdown-link-hover-color: $al-white;
$dropdown-link-hover-bg: $al-blue;
