$chat-menu-width: 250px;
$avatar-width: 60px;
$status-width: 23px;
$bottom-panel-height: 108px;
$attach-width: 30px;
$editor-min-height: 30px;
$post-avatar-width: 50px;
$post-date-width: 90px;
$sm-navbar-height: 100px;
$delete-file-width: 20px;

@mixin al-circle($color: $brand-primary, $size: 35px) {
    background-color: $color;
    border-radius: calc(#{$size}/2);
    height: $size;
    width: $size;
}

.al-circle {
    @include al-circle;
}

@mixin al-chats-dialog-height {
    max-height: calc(100vh - 5px - #{$navbar-height} - #{$bottom-panel-height});
    height: calc(100vh - 5px - #{$navbar-height} - #{$bottom-panel-height});

    @media (max-width: $screen-xs-max) {
        max-height: calc(100vh - 5px - #{$sm-navbar-height} - #{$bottom-panel-height});
        height: calc(100vh - 5px - #{$sm-navbar-height} - #{$bottom-panel-height});
    }
}

@mixin al-chats-menu-height {
    max-height: calc(100vh - 5px - #{$navbar-height});
    height: calc(100vh - 5px - #{$navbar-height});

    @media (max-width: $screen-xs-max) {
        max-height: calc(100vh - 5px - #{$sm-navbar-height});
        height: calc(100vh - 5px - #{$sm-navbar-height});
    }
}

@mixin al-dialog-width {
    width: calc(100% - #{$chat-menu-width});
}

.chats_list-menu {
    @include al-inline-block;
    @include al-chats-menu-height;
    width: $chat-menu-width;
    overflow: auto;

    @media (max-width: $screen-xs-max) {
        width: 100%;
    }

    table {
        width: 100%;

        .avatar {
            width: $avatar-width;

            .al-circle {
                margin: auto;
            }
        }

        .name {
            width: calc(100% - #{$avatar-width} - #{$status-width});
        }

        .status {
            width: $status-width;

            .circle-status {
                @include al-circle($gray-darker, 8px);
                float: right;

                &.online {
                    background-color: $brand-success;
                }
            }
        }
    }
}

.chats_list-menu ~ .chats_list-dialog {
    @include al-dialog-width;
}



@media (max-width: $screen-xs-max) {
    .chats_list-menu.max-xs-hide-force ~ .chats_list-dialog {
        width: 100%;
    }
}

@media (min-width: $screen-tablet) {
    .chats_list-menu.min-sm-hide-force ~ .chats_list-dialog {
        width: 100%;
    }
}

.chats_list-dialog {
    @include al-chats-menu-height;
    @include al-inline-block;
    @include al-dialog-width;

    .posts {
        @include al-chats-dialog-height;
        overflow: auto;
        width: 100%;
        padding-bottom: 15px;

        .alert {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }

    .post {
        display: table;
        width: 100%;
        margin: 25px 0 25px 0;
        padding: 0 15px 0 15px;

        .avatar {
            @include al-inline-block;
            width: $post-avatar-width;
        }

        .description {
            @include al-inline-block;
            width: calc(100% - 5px - #{$post-avatar-width});

            .author {
                float: left;
                padding-right: 8px;
            }

            .date-time {
                float: left;
                width: $post-date-width;
            }

            .message {
                margin-top: 10px;
                color: $gray-darkest;

                .file-name {
                    width: calc(100% - #{$delete-file-width});
                    display: inline-block;
                }

                .delete-file {
                    width: $delete-file-width;
                    display: inline-block;
                    padding-left: 5px;
                    padding-top: 5px;
                }
            }
        }
    }
}

.chats_list-bottom-panel {
    height: $bottom-panel-height;

    .edit-form {
        display: table;
        width: 100%;
        padding: 7px 0 7px 0;
        border-top: 1px solid $gray-darker;

        .media-body {
            min-height: $editor-min-height;
            padding: 10px 20px 9px 20px;

            .attach {
                @include al-inline-block;
                width: $attach-width;

                button.close {
                    outline: none;
                    opacity: 1;
                    float: left;
                }
            }

            .editor {
                @include al-inline-block;
                width: calc(100% - 5px - #{$attach-width});
                min-height: $editor-min-height;

                textarea {
                    color: $gray-darkest;
                    border: none;
                    overflow: hidden;
                    width: 100%;
                    resize: none;
                    overflow: auto;
                    outline: none;
                }
            }
        }
    }
}
