<div>
    <div class="chats_list-menu al-backgroud-gray-light" ng-class="{'max-xs-hide-force': !menuService.isShownChatsMenuForPhone, 'min-sm-hide-force': menuService.isShownChatsMenuForPhone}">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="chat in chats track by $index" ng-class="{'active': chat.id == currentChat.id}" ng-click="setCurrentChat(chat)">
                <a>
                    <table>
                        <tr>
                            <td class="avatar">
                                <div class="al-circle">

                                </div>
                            </td>
                            <td class="name">
                                {{findOpponentUser(chat).name}}
                            </td>
                            <td class="status">
                                <div class="circle-status hide">

                                </div>
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
        </ul>
    </div>
    <div class="chats_list-dialog" ng-class="{'max-xs-hide-force': menuService.isShownChatsMenuForPhone}">
        <div class="posts">
            <div class="" ng-show="messages.length == 0">
                <div class="alert alert-info">
                    В данном диалоге пока нет сообщений
                </div>
            </div>
            <div messages-scroll>
                <a id="top"></a>
                <div class="post" ng-repeat="message in messages| orderBy: '+createDate' track by $index">
                    <div class="avatar">
                        <div class="al-circle">

                        </div>
                    </div>
                    <div class="description">
                        <div class="top-description media-body">
                            <div class="author">
                                {{findUserById(message.authorId).name}}
                            </div>
                            <div class="date-time">
                                <small>{{dateService.strToHumanDate(message.writeDate)}}</small>
                            </div>
                            <div class="pull-right hide" ng-if="message.authorId == currentUser.id">
                                <a ng-click="deleteMessage(message)" title="Удалить сообщение" ng-if="!message.isDeleted"><i class="glyphicon glyphicon-remove"></i></a>
                                <a ng-click="recoverMessage(message)" title="Восстановить сообщение" ng-if="message.isDeleted"><i class="glyphicon glyphicon-repeat"></i></a>
                            </div>
                        </div>
                        <div class="message">
                            <div ng-if="message.type != 'file'">{{message.content}}</div>
                            <div ng-if="message.type == 'file'" class="alert alert-info">
                                <a href="{{message.file.href}}" target="_blank">{{message.file.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="bottom"></a>
            </div>
        </div>
        <div class="chats_list-bottom-panel">
            <div class="edit-form">
                <div class="media-body al-backgroud-gray-light">
                    <div class="attach hide">
                        <button class="close" ng-click="clickOnFile($event)">
                            <img src="/assets/images/chats/images/attach.png"/>
                            <input type="file" class="hide" onchange="angular.element(this).scope().uploadFile(this)"/>
                        </button>
                    </div>
                    <div class="editor">
                        <textarea rows="{{editorCountRows}}" class="al-backgroud-gray-light" ng-model="newMessage.content" ng-focus="onFocusEditor()" ng-blur="onBlurFocusEditor()" ng-keydown="onKeyUpEditor($event)"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

