.payments-detail__background-block {
    @include al-background-block-body;

    .payments-detail__content-block {
        @include al-white-block-naked-body;
        @include page-content-min-height;
        padding-right: $result-block-padding;
        padding-left: $result-block-padding;
    }
}



