.agreements-detail__block {
    @include al-background-block;

    @mixin sanatoriums__result {
        @include al-white-block;
        @include al-expanded-full-max-phone; 
        @include al-align-center;

        max-width: $al-body-max-width;

        @media (max-width: $screen-phone) {
            max-width: 100%;
        }
    }

    .agreements-detail__phone-back-step {
        @include sanatoriums__result;
        @include al-block-max-phone;
        display: none;
        height: 50px;
        padding-top: 15px;
        padding-bottom: $md-margin;
        margin-bottom: $md-margin;

        i {
            margin-right: $md-margin;
        }
    }

    .sanatoriums__result {
        @include sanatoriums__result;
        padding-top: 0;
        margin-bottom: 0;
        min-height: 190px;

        $al-booking-button-width: 170px;

        .agreements-detail__steps-block {
            -webkit-padding-start: 0;
            margin-bottom: 25px;
            text-align: justify;
            text-align-last: justify;
            overflow: hidden;

            &:before {
                background: $al-gray-medium;
                content: '';
                display: block;
                position: relative;
                height: 2px;
                left: 10px;
                top: 19px;
                width: 100%;
                z-index: 0;
            }

            li {
                @include al-inline-block;
                padding: 0 $md-margin;
                z-index: 1;             
                background-color: $al-white;
                position: relative;
                float: none;

                $steps-block-circle-width: 35px;

                .agreements-detail__steps-circle {
                    @include al-inline-block;

                    height: $steps-block-circle-width;
                    width: $steps-block-circle-width;
                    line-height: $steps-block-circle-width;
                    text-align: center;
                    text-align-last: center;
                    color: $al-white;
                    border-radius: 18px;
                    background-color: $al-gray-medium;
                }

                .agreements-detail__steps-label {
                    @include al-inline-block;
                    @include max-xs-hide-force;
                    margin-left: $md-margin;
                    margin-top: 8px;
                    color: $text-color;
                }

                &.active {
                    .agreements-detail__steps-circle {
                        background-color: $al-orange;
                    }

                    .agreements-detail__steps-label {
                        font-weight: bold;
                        color: black;
                    }
                }

                &.success {
                    .agreements-detail__steps-circle {
                        background-color: $brand-success;
                        color: $brand-success;

                        i {
                            color: $al-white;
                            margin-left: -7px;
                        }
                    }

                }
            }
        }

        h1 {
            margin-bottom: $result-block-padding;
        }

        .al-image-column {
            @include al-expanded-full-max-phone; 
            @include al-inline-block-min-tablet;
            @include al-block-max-tablet;
            width: $al-icon-width;

            .al-image-block {
                .al-image {
                    background-image: url('http://alenat.ru/image/%7B4c7a782b-74fa-41bf-8512-d8f877e8aa8d%7D.jpg');
                }
            }
        }

        .sanatoriums__result-description-block {
            width: calc(100% - #{$al-icon-width} - #{$al-booking-button-width} - 5px);
            text-align: left;
            @include al-expanded-full-max-phone; 
            @include al-inline-block-min-tablet;
            @include al-block-max-tablet;

            @media (min-width: $screen-tablet) {
                padding-left: $result-block-padding;
                padding-right: $result-block-padding;
            }

            h4 {
                color: $al-blue;
            }

            .sanatoriums__result-description-block-main {
                @media (max-width: $screen-phone) {
                    padding-top: $result-block-padding;
                    padding-bottom: $result-block-padding;
                }
            }
        }

        .agreements-detail__prices-block {
            width: 470px;
            padding-top: 10px;

            @media (max-width: $screen-tablet) {
                width: 325px;
            }

            @media (max-width: $screen-phone) {
                width: 100%;
            }

            .agreements-detail__prices-row {
                @include al-exspanded-table;
                margin-top: -$result-block-padding;

                $prices-radio-button-width: 50px;

                .agreements-detail__prices-title {
                    @include al-inline-block;

                    width: calc(100% - #{$prices-radio-button-width} - 5px);

                    h3 {
                        line-height: 35px; 

                        @media (max-width: $screen-phone) {
                            font-size: 20px;
                        }
                    }
                }

                .agreements-detail__prices-radio-button {
                    @include al-inline-block;

                    padding-left: $result-block-padding;
                    padding-right: $result-block-padding;
                    padding-top: 19px;

                    width: $prices-radio-button-width;
                }
            }
        }

        .agreements-detail__client-contacts {
            .agreements-detail__repeat-button-block {
                text-align: right;
                margin-top: 8px;

                @media (max-width: $screen-phone) {
                    text-align: center;
                }
            }
        }

        .sanatoriums__result-apartment-description-block {
            @include al-exspanded-table;
            margin-top: $result-block-padding;
        }

        .agreements-detail__buttons-block {
            padding-top: $result-block-padding;

            .agreements-detail__href-fixed {
                @include al-btn-phone-bottom-fixed;

                @media (max-width: $screen-phone) {
                    height: $al-btn-lg-height;
                    bottom: 30px;
                    padding-top: 15px;
                    background-color: $al-white;
                    text-align: center;
                }
            }
        }
    }
}

