.contacts-detail__background-block {
    @include al-background-block-body;

    .contacts-detail__content-block {
        @include al-white-block-naked-body;
        @include page-content-min-height;

        .contacts-detail__info-block {
            padding-right: $result-block-padding;
            padding-left: $result-block-padding;
        }
    }
}



