.al-navbar-default {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: $al-z-index-medium;

    .al-navbar-header {
        @include al-align-center;

        max-width: $al-body-max-width;
        width: 100%;
        padding: $al-default-padding;

        .navbar-brand {
            $al-logo-width: 30px;
            display: table;

            img {
                width: $al-logo-width;
                height: $al-logo-width;
                display: inline-block;
                vertical-align: top;
                margin-top: -5px;
            }
        }
        
        .al-navbar-menu {
            @include al-inline-block;
            float: right;
            padding-top: $al-default-padding;
            
            a {
                padding-left: $al-default-padding;
                color: $al-white;
            }
        }
        
        .dropdown-menu {
            position: relative;
        }
    }

    &.al-shadow {
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
    }
}

.al-main-block {
    padding-top: calc(45px + #{2 * $al-default-padding} + 2px);
}


