.al-footer__background-block {
    @include al-background-block-body;
    background-color: $al-white;

    .al-footer__block {
        @include al-block;
        @include al-align-center;
        color: $text-color;
        text-align: center;
        max-width: 700px;
        padding-bottom: $al-default-padding;

        .al-footer__payments-types {
            margin-top: 4px;
            margin-bottom: 50px;

            li {
                width: 80px;
                height: 45px;
                line-height: 40px;
                border: 1px solid $al-gray-medium;
                border-radius: $border-radius-base;

                @media (max-width: $screen-phone) {
                    width: 30%;
                    margin-top: $md-margin;
                }

                img {
                    width: 45px;
                }
            }
        }

        ul {
            @include al-exspanded-table;

            li {
                @include al-inline-block;
                float: none !important;
                margin-right: $al-default-padding;
            }
        }

        p {
            @include al-exspanded-table;
        }
    }
}

